<div class="container">
    <div class="row">
        <div class="col-md-2" ng-repeat="card in cards">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">{{card.name}}</h3>
                    <button class="btn btn-default pull-right" ng-click="editCard(card)">
                        <i class="fa fa-pencil"></i>
                        Edit
                    </button>
                </div>
                <div class="panel-body">
                    <p ng-if="!card.edition">{{card.text}}</p>
                    <form>
                        <input ng-if="card.edition" class="form-control"/>
                    </form>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <form name="add" ng-submit="addCard()">
                        <textarea class="form-control" ng-model="newText" rows="2" required></textarea>
                        <input class="btn btn-info " type="submit" value="Add Card" ng-disabled="add.$invalid">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
